.home .home_main .last_title{
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 6px;
}
.home .home_main .last_list{
    margin-top: 40px;
    padding: 0px 30px;
}
.home .home_sider .sider_nav{
    margin-bottom: 60px;
}