.App{
    width: 1000px;
}
.App .page{
    display: flex;
}
.App .page_main{
    padding: 10px;
    flex-grow: 4;
}
.App .page_slider{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}